{% extends 'App_Upload/navbar.html' %}
{% load custom_filter %}
{% load crispy_forms_tags %}
{% block title_block %} @{{ user.username }} {% endblock %}
{% block style_block %}
    <style>
        .image-container {
            position: relative;
        }
        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        .image-container:hover .image {
            opacity: 0.3;
        }
        .image-container:hover .middle {
            opacity: 1;
        }

        {#    Post Style #}
        .user-post > h2 {
            border: 1px solid #ddd;
            margin-bottom: 20px;
            padding: 10px;
            text-align: center;
        }
        .user-post {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .video-div {
            position: relative;
            border: 1px solid #dddddd;
            width: 400px;
            padding: 20px;
            overflow: hidden;
        }
        .video-div  img {
            width: 100%;
            height: 200px;
        }
        .video-item {

        }
        .menu-icon {
            position: absolute;
            top: 4px;
            right: 5px;
            cursor: pointer;
            font-size: 21px;
        }
        .menu-icon span {

        }
        .dropdown-toggle::after {
            content: none;
        }
    </style>
{% endblock %}
{% block body_block %}
    <div class="videos" id="videos_section">
         <div class="container" >
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="d-flex justify-content-start">
                        <div class="image-container">
                            {% if user.user_profile.profile_pic %}
                                <img id="imgProfile" class="img-thumbnail" style="width: 150px; height: 150px" src="/media/{{ user.user_profile.profile_pic}}" alt="profile-pic" />
                            {% else %}
                                <img id="imgProfile" class="img-thumbnail" style="width: 150px; height: 150px" src="/media/profile_pics/profilepic.jpg" alt="profile-pic" />
                            {% endif %}
                            <div class="middle">
                                <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                <input type="file" style="display: none;" id="profilePicture" name="file" />
                            </div>
                        </div>
                        <div class="userData ml-3">
                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="">{{ user.username }}</a></h2>
                            <h6 class="d-block"><a href="javascript:void(0)">{{ user.uploaded_video.count }}</a> Uploaded Videos</h6>
                            <h6 class="d-block"><a href="javascript:void(0)">{{ user.following.count }}</a> followers || <a href="javascript:void(0)">{{ user.follower.count }}</a> following</h6>
                            <br/>
                            {% if already_followed %}
                                <a class="btn btn-warning btn-sm" href="{% url 'App_User:unfollow' pk=user.pk %}">Un-subscribe</a>
                            {% else %}
                                <a class="btn btn-success btn-sm" href="{% url 'App_User:follow' pk=user.pk %}">Subscribe</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Connected Services</a>
                            </li>
                        </ul>
                        <div class="tab-content ml-1" id="myTabContent">
                            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Full Name</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user.user_profile.full_name }}
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Birth Date</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user.user_profile.dob }}
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Email</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user.email }}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Username</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user.username }}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Description</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user.user_profile.description|linebreaks }}
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                <label for="facebook">Facebook:</label>
                                <a id="facebook" href="{{ user.user_profile.facebook }}">{{ user.user_profile.facebook }}</a>
                                <br/>
                                <br/>
                                <label for="website">Website:</label>
                                <a id="website" href="{{ user.user_profile.website }}">{{ user.user_profile.website }}</a>
                            </div>
                        </div>
                    </div>
            </div>
         </div>

         <div class="user-post">
            <h2>{{ user.username }}'s uploaded Video</h2>
            <div class="row">
                {% for uploaded_video in user.uploaded_video.all %}
                    <div class="col-4 video-div">
                        <a href="{% url 'App_Upload:play-video' pk=uploaded_video.pk %}"><img class="post-image" style="cursor: pointer" src="/media/{{ uploaded_video.thumbnail }}" title="{{ uploaded_video.video.url }}" alt="post-image"></a>
                        <br /><br />
                        <p>{{ uploaded_video.title|range_filter }}</p>
                        <p>Upload Date: {{ uploaded_video.upload_date }} | Update Date: {{ uploaded_video.update_date }}</p>
                    </div>
                {% endfor %}
            </div>
         </div>
    </div>
{% endblock %}
{% block script_block %}
{% endblock %}